<h1>Edit Surat Keluar</h1>
<%= form_for @surat_keluar, html: { multipart: true } do |f| %>
<%= render 'form', f: f %>
<% end %>
<%= link_to 'Kembali ke Daftar Surat Keluar', surat_keluar_index_url, class: "btn" %>