<p>
  <strong>Keterangan:</strong>
  <%= @surat_keluar.keterangan %>
</p>
 
<p>
  <strong>Lampiran:</strong>
  <%= @surat_keluar.lampiran %>
</p>

<%= link_to 'Kembali ke Daftar Surat Keluar', surat_keluar_index_url %>