<nav>
  <div class="nav-wrapper">
    <%= link_to 'Sidodi', beranda_index_url, class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Surat Keluar', controller: 'surat_keluar' %></li>
        <li><a href="badges.html">Login</a></li>
      </ul>
  </div>
</nav>