<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Sidodi</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Surat Keluar', controller: 'surat_keluar' %></li>
        <li><a href="badges.html">Login</a></li>
      </ul>
  </div>
</nav>